<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      
		
		<link rel = "stylesheet" href = "../css/lib/jquery-ui.css">
        <link rel = "stylesheet" href = "../css/lib/Zusma.css">
		<link rel = "stylesheet" href = "../css/lib/dataTables.bootstrap4.min.css">
        <link rel = "stylesheet" href = "../css/lib/datatables.css">
		<link rel = "stylesheet" href = "../css/lib/bootstrap.min.css">
        <link rel = "stylesheet" href = "../css/lib/bootstrap-theme.min.css">
        
		<script src="../js/lib/jquery.dataTables.min.js"></script>
        <script src="../js/lib/datatables.js"></script>
		<script src="../js/lib/jquery-3.5.1.min.js"></script>
        <script src="../js/lib/bootstrap.min.js"></script>
        <script src="../js/AppLoadAjax.js"></script>
		
		<script type="text/javascript">
		$(document).ready(function() {
			$('#subCasesTable').dataTable({
				"pagingType": "full_numbers"
			});	
			$('#subCasesTable').each(function(){
				var datatable = $(this);
				// SEARCH - Add the placeholder for Search and Turn this into in-line form control
				var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
				search_input.attr('placeholder', 'Search');
				search_input.addClass('form-control input-sm');
				// LENGTH - Inline-Form control
				var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
				length_sel.addClass('form-control input-sm');
			});
		});
		</script>
   </head>
<body > 
	<br/><br/><br/><br/>
	<div class="container mainframe" id="toolscontainer">
		<ul class="nav nav-tabs">
			<li class="active testingBackground"><a data-toggle="tab" href="#shop">Shopping</a></li>
			<li class="testingBackground"><a data-toggle="tab" href="#subCases">Sub Cases</a></li>
			<li class="testingBackground"><a data-toggle="tab" href="#notes">Notes</a></li>
			<li class="testingBackground"><a data-toggle="tab" href="#team">Team</a></li>
			<li class="testingBackground"><a data-toggle="tab" href="#documents">Documents</a></li>
			<li class="testingBackground"><a data-toggle="tab" href="#cart">Cart</a></li>
		</ul>
		<br/>
		<div class="tab-content">
			<div id="shop" class="tab-pane fade in active">
				<div class="container">
					<form class="form-horizontal details" role="form">
						<div class="form-group">
							<div class="col-sm-2">
							<button type="button" class="btn btn-info" data-toggle="modal" data-target="#createSubcase">Create Subcase</button>
								<!-- Modal -->
										<div class="modal fade" id="createSubcase" role="dialog">
											<div class="modal-dialog modal-lg">
												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<label draggable="true">Creating subcase for : </label>
													</div>
													<div class="modal-body">
														<input type = "text" class = "form-control" id = "input_subcasename" placeholder = "Name"/>
														<br/>
														<input type = "text" class = "form-control" id = "input_restheaderValue" placeholder = "notes"/>
														<br/>
														 <div class = "input-group">
																<span class = "input-group-addon">Role :</span>
																<select class="form-control " id="dropdownmap_projectrelease" 
																	onclick="loadReleasesOfApp('dropdownmap_projectrelease' , '/ComplexTesting/loadReleasesOfAnApp')"
																	onchange="loadProjectsOnselectingRelease('#dropdownmap_projectrelease','dropdownmap_projectid','/ComplexTesting/getProjectsOfARelease');">
																		<option value="execute" >COE-OM</option>
																			 <option value="save" >ATT LEC</option>
																			 <option value="save and execute" >EOS</option>
																			 <option value="save on success" >COE-GK</option>
															  </select>
														</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" onclick="">Submit</button>
														<button type="button" class="btn btn-default" onclick=";">Clear</button>
													</div>
												</div>
											</div>
							
										</div>
									</div>
									<div class="col-sm-2">
										<button type="button" class="btn btn-info">Close Case</button>
									</div>
						</div>
						<div class="form-group">
							<br /> <label class="control-label col-sm-2 testing_static_font_style">Customer:</label>
							<div class="col-sm-2">
								<label id="label_firstName" class="control-label col-sm-2 testing_dynamic_font_style">Ravi</label>
							</div>
							<label class="control-label col-sm-2 testing_static_font_style">Product/Service:</label>
							<div class="col-sm-2">
								<label id="label_lastName" class="control-label col-sm-2 testing_dynamic_font_style">ADI</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 testing_static_font_style">Order ID/Case ID:</label>
							<div class="col-sm-2">
								<label id = "label_empId"  class="control-label col-sm-2 testing_dynamic_font_style">999</label>
							</div>
							<label class="control-label col-sm-2 testing_static_font_style">Order/Case Title:</label>
							<div class="col-sm-2">
								<label id="label_mailid" class="control-label col-sm-2 testing_dynamic_font_style">Hello</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 testing_static_font_style">Order Type:</label>
							<div class="col-sm-2">
								<label id="label_contactMobile" class="control-label col-sm-2 testing_dynamic_font_style">New Start</label>
							</div>
							<label class="control-label col-sm-2 testing_static_font_style">Order Status:</label>
							<div class="col-sm-2">
								<label id="label_managername" class="control-label col-sm-2 testing_dynamic_font_style">Inprogress</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 testing_static_font_style">Order Owner/Assignee:</label>
							<div class="col-sm-2">
								<label id="label_company" class="control-label col-sm-2 testing_dynamic_font_style">Ravi</label>
							</div>
							<label class="control-label col-sm-2 testing_static_font_style">Site ID:</label>
							<div class="col-sm-2">
								<label id="label_managername" class="control-label col-sm-2 testing_dynamic_font_style">Dallas</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 testing_static_font_style">Site Name:</label>
							<div class="col-sm-2">
								<label id="label_userId" class="control-label col-sm-2 testing_dynamic_font_style">Jefferson</label>
							</div>
							<label class="control-label col-sm-2 testing_static_font_style">CCI:</label>
							<div class="col-sm-2">
								<label id="label_userId" class="control-label col-sm-2 testing_dynamic_font_style">9009</label>
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-sm-2 testing_static_font_style">Date Created:</label>
							<div class="col-sm-2">
								<label id="label_userId" class="control-label col-sm-2 testing_dynamic_font_style">10/10/2019</label>
							</div>
							<label class="control-label col-sm-2 testing_static_font_style">Date Closed:</label>
							<div class="col-sm-2">
								<label id="label_userId" class="control-label col-sm-2 testing_dynamic_font_style">10/15/2019</label>
							</div>
							
						</div>
						
						
						

					</form>
				</div>
			</div>
			<div id="subCases" class="tab-pane fade">
				<br/>
				<br/>
				<table id="subCasesTable" class="datatable table table-striped table-bordered" cellspacing="0" width="100%">
					  <thead>
						<tr>
						  <th class="th-sm">Name

						  </th>
						  <th class="th-sm">Status

						  </th>
						  <th class="th-sm">Role

						  </th>
						  <th class="th-sm">Assigned to

						  </th>
						  <th class="th-sm">Start date

						  </th>
						  <th class="th-sm">End Date

						  </th>
						</tr>
					  </thead>
					  <tbody>
						<tr>
						  <td>Conduct TT</td>
						  <td>Waiting</td>
						  <td>COE-OM</td>
						  <td>Ravi</td>
						  <td>2019/04/25</td>
						  <td></td>
						</tr>
						<tr>
						  <td>Set Activity Group status</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Provision Bvoip in GIOM</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Site Readiness</td>
						  <td>Completed</td>
						  <td>COE-OM</td>
						  <td>Ravi</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Assign Workflow</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Transaction Errored.Initiate LEC APRQ</td>
						  <td>Completed</td>
						  <td>ATT LEC Agent</td>
						  <td>Ravi</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Reserve IP Addresses in CANOPI design</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Retrieve IPTF Data url from SXP</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Trigger LPP to Activate VLAN</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Transport Config status check in LPP</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
						<tr>
						  <td>Trigger GIOM to pull IP Addresses from CANOPI design</td>
						  <td>Completed</td>
						  <td>System</td>
						  <td>System</td>
						  <td>2019/04/25</td>
						  <td>2019/04/25</td>
						</tr>
					  </tbody>
					  <tfoot>
						<tr>
						  <th class="th-sm">Name

						  </th>
						  <th class="th-sm">Status

						  </th>
						  <th class="th-sm">Role

						  </th>
						  <th class="th-sm">Assigned to

						  </th>
						  <th class="th-sm">Start date

						  </th>
						  <th class="th-sm">End Date

						  </th>
						</tr>
					  </tfoot>
					</table>
			</div>
			<div id="notes" class="tab-pane fade">
					<div class="container mainframe" id="toolscontainer">
						<ul class="nav nav-tabs">
							<li class="active testingBackground"><a data-toggle="tab" href="#notesCase">Case</a></li>
							<li class="testingBackground"><a data-toggle="tab" href="#noteSubCases">Sub Cases</a></li>
						</ul>
						<br/>
						<div class="tab-content">
							<div id="notesCase" class="tab-pane fade in active">
							</div>
						</div>
						<div class="tab-content">
							<div id="noteSubCases" class="tab-pane fade in active">
							</div>
						</div>
					</div>
			</div>
			<div id="team" class="tab-pane fade">
			</div>
			<div id="documents" class="tab-pane fade">
			</div>
			<div id="cart" class="tab-pane fade">
			</div>
			
		</div>
	</div>
</body>
</html>
